* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #f8f8f8;
}

.main {
  width: 500px;
  margin: 50vh auto 0;
  transform: translate(0, -50%);
  padding: 32px 0;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.main h1 {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}

.main canvas {
  display: block;
  width: 480px;
  height: 270px;
  margin: 24px auto 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}
